// default theme
$primaryBrandingColor: #df8b1d !default;
$secondaryBrandingColor: #e85a0d !default;
$headingFontFamily: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !default;
$bodyFontFamily: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !default;
$baseFontSize: 16 !default;
$baseFontColor: #333 !default;
$appBackgroundColor: #fff !default;

$buttonBackground: $secondaryBrandingColor !default;
$buttonFontSize: 14px !default;
$buttonFontColor: #fff !default;
$buttonPadding: 8px 16px !default;


// dark theme
$baseFontColorDark: #fff !default;
$appBackgroundColorDark: #333 !default;




